@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

#mainlogo {
  margin-bottom: 20px;
}

#watermark a {
  text-decoration: underline;
  color: orange;
}

#watermark {
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  bottom: 2px;
  right: 5px;
  color: lightgray;
}

#bottom_left {
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  bottom: 2px;
  left: 5px;
  color: lightgray;
}

#bottom_left a {
  text-decoration: none;
  color: #3f68ff;
}

#stat_served {
  text-decoration: none;
  color: #3f68ff;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 2px;
  left: 5px;
}

#icon_offset {
  bottom: -2px;
  position: relative;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  text-align: center;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}

.mainEntry {
  font-size: 18px;
  outline: none;
  width: 220px;
  padding: 10px;
  background-color: #f4f4f4;
  color: #3b3b3b;
  font-weight: normal;
  border-width: 0;
  margin: 20px;
  text-align: center;
}

::placeholder {
  color: rgb(184, 184, 184);
}

:-ms-input-placeholder {
  color: rgb(184, 184, 184);
}

::-ms-input-placeholder {
  color: rgb(184, 184, 184);
}

#stats {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  max-width: 275px;
  margin: 50px auto !important;
  background-color: #3f68ff;
  color: white;
  font-weight: normal;
  padding: 30px;
  padding-top: 45px;
  border-radius: 10px;
}

#graph {
  width: 275px;
  height: 220px;
  margin: 0 auto;
}

.maintenance {
  width: 275px;
  background-color: #ffb5b5;
  color: #3b3b3b;
  margin: 25px auto;
  text-align: center;
}

.maintenance p {
  font-size: 13px;
  list-style: square;
  padding: 15px;
}

.loading {
  max-width: 275px;
  margin: 50px auto !important;
  background-color: #3f68ff;
  color: white;
  font-weight: bold;
  padding: 30px;
  border-radius: 10px;
  font-size: 36px;
  text-align: center;
}

.tutorial {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 30px;
  font-family: Helvetica, sans-serif;
  max-width: 750px;
  background-color: #3f68ff;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  margin-bottom: 25px;
}

.tutorial p {
  font-size: 17px;
  padding: 0;
  margin: 0;
}

.tutorial h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.mono {
  font-family: 'DM Mono', monospace;
  background-color: #7794ff;
  padding: 2px 6px 2px 6px;
}
