body {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

#watermark a {
  text-decoration: underline;
  color: orange;
}

#watermark {
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  bottom: 2px;
  right: 5px;
  color: lightgray;
}

#icon_offset {
  bottom: -2px;
  position: relative;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  text-align: center;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  line-height: 36px;
}

.mainEntry {
  font-size: 20px;
  outline: none;
  width: 250px;
  padding: 10px;
  background-color: #f4f4f4;
  color: #3b3b3b;
  font-weight: normal;
  border-width: 0;
  margin: 20px;
}

::placeholder {
  color: rgb(184, 184, 184);
}

:-ms-input-placeholder {
  color: rgb(184, 184, 184);
}

::-ms-input-placeholder {
  color: rgb(184, 184, 184);
}

.stats {
  max-width: 500px;
  margin: 50px auto !important;
  background-color: #f4f4f4;
  padding: 30px;
  padding-top: 45px;
  border-radius: 15px;
}
